name: run-tests
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
      - uses: nanasess/setup-chromedriver@master
      - name: "Install deps"
        run: npm install
      - name: "Lint"
        run: npm run lint
      - name: "Run unit tests"
        run: npm run test:unit
      - name: "Run end-to-end tests"
        run: |
          export DISPLAY=:99
          chromedriver --url-base=/wd/hub &
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
          npm run build:cdn && npm run test:e2e
